<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page Title</title>
  <style>
    .background{
        background-color: #181818;
    }

    .background1{
        background-color: red;
    }

    .menu{
        background-color: #0F0F0F;
    }

    .story{
        background-color: #9B871F;
    }

    *{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
  <div class="background flex w-screen h-screen">
    <div class="menu h-screen w-72">

    </div>
    <div class="p-14">
        <h1 class="text-white font-semibold text-4xl">Ti potrebbe piacere</h1>
        <div class="mt-8">
          {% for item in stories %}
            <div class="p-4 pl-0">
              <div class="story rounded-md w-96 h-40">
                <div class="gap-1 flex">
                  {% for tag in item["tags"] %}
                    <div style="background1 p-1">
                      <p class="text-white">{{ tag.name }}</p>
                    </div>
                  {% endfor %}
                </div>
                <h2>{{ item["story"].name }}</h2>
                <p>Capitolo #{{ item["chapter"].chapter_id }}</p>
                <p>{{ item["chapter"].content }}</p>
                <div>
                  <button><</button>
                  <p>{{ item["interaction"] }}</p>
                  <button>></button>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
    </div>
  </div>
</body>
</html>
